:root {
  --primary-color: #de5d82;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
body {
  background: #f7c3b1;
  margin: 50px 80px 100px;
}

h1,
h2,
h3,
p {
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 76px;
}
h3 {
  margin: 15px 0 30px;
}
img {
  display: block !important;
  max-width: 80%;
  height: 200px;
  width: 400px;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  margin: 10px auto;
}
a {
  text-align: center;
}

footer {
  margin-top: 20px;
  font-family: monospace;
  color: var(--secondary-color);
  text-align: center;
}

.source-code-link {
  text-decoration: none;
  color: var(--primary-color);
}
.navigation-links {
  display: flex;
  justify-content: center;
}

.homepage-link,
.contact-link,
.photo-link {
  margin: 10px;
  padding: 20px 15px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  justify-content: center;
}

.contact-email {
  text-decoration: none;
  justify-content: center;
  color: #212529;
  text-decoration: none;
}

.homepage-link:hover,
.contact-link:hover,
.photo-link:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: none;
}

.container.contact {
  text-align: center;
}